@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DovesType-Text';
  src: url('/fonts/DovesType-Text.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Noto Emoji';
  src: url('https://fonts.gstatic.com/s/notoemoji/v23/xyz.woff2') format('woff2');
  unicode-range: U+1F300-1F64F; /* Cover emojis */
  font-weight:400;
  font-display: block;
}

@font-face {
  font-family: 'EB Garamond';
  font-display: swap;
}

@font-face {
    font-family: 'Faune';
    src:    url('/fonts/Faune-Display_Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Faune';
    src:    url('/fonts/Faune-Display_Bold_Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Faune';
    src:    url('/fonts/Faune-Display_Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Faune';
    src:    url('/fonts/Faune-Text_Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Faune';
    src:    url('/fonts/Faune-Text_Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Faune';
    src:    url('/fonts/Faune-Text_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 640px) {
  .post-navigation button svg {
    display: none; /* Hide arrows on mobile */
  }
  .post-navigation .text-skin-base {
    max-width: 100px; /* Adjust max width for text truncation */
  }
}

@layer base {
/*   p {
  display: inline;
}

p:not(:last-child)::after {
  content: " ¶ ";
} */
  .font-serif {
    font-synthesis: none; /* Prevent synthetic bold & italic */
    font-weight: normal; /* Ensure no artificial bolding */
    letter-spacing: 0.01rem;
  }
  .font-serif i,
  .font-serif em {
    font-family: "EB Garamond";
    font-style: italic;
  }
  .font-serif b, .font-serif strong {
    font-family: "Faune";
    font-weight:600;
  }

  /* Add this to your existing global styles */
  
.fancy-underline {
  background: linear-gradient(0deg, var(--color-accent-50) 0%, var(--color-accent-50) 100%);
  background-position: 0 85%;
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  text-shadow: 
    0.1em 0 var(--color-fill),
    -0.1em 0 var(--color-fill),
    0 0.1em var(--color-fill),
    0 -0.1em var(--color-fill);
}

  
  h2, h3, h4, h5 {@apply uppercase font-serif;}
  h1, h1 a { @apply text-3xl font-serif; }

  .prose code {font-size:70%;}
  code .copy-code {display:hidden;}

  .prose strong {font-size:70%;}

  h1 .emoji:first-child, h2 .emoji:first-child, h3 .emoji:first-child {
      float: left;
      margin-left: -1.75em; /* Moves it into the margin */
      margin-right: -0.5em; /* Prevents overlap with text */
      color: rgba(0,0,0,0.2);
      @apply text-3xl;
  }
  
  .emoji {
          font-family: 'Noto Emoji'; 
          text-decoration:none; 
          font-weight:400;
  }

  table {@apply text-xl;}
  
/*   html {
    font-size: 2em;
  }
  body {
    @apply text-base;
  } */
  :root,
  html[data-theme="light"] {
    --color-fill: 251, 254, 251;
    --color-text-base: 40, 39, 40;
    --color-accent: 230, 0, 0;
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 236, 233, 233;
  }
  html[data-theme="dark"] {
    --color-fill: 251, 254, 251;
    --color-text-base: 40, 39, 40;
    --color-accent: 230, 0, 0;
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 236, 233, 233;
  }
  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }
  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }
  body {
    @apply flex min-h-[100svh] flex-col bg-skin-fill font-serif text-skin-base 
    selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
  }
  section,
  footer {
    @apply mx-auto max-w-3xl px-4;
  }
  a {
    @apply outline-2 outline-offset-1 outline-skin-fill fancy-underline
    focus-visible:no-underline focus-visible:outline-dashed;
  }
  
  .underline-highlight {
    @apply relative cursor-pointer;
    z-index: 1;
  
    /* Define the gradient with matching stop positions */
    background: linear-gradient(
      180deg,
      transparent 62%,
      rgb(var(--color-accent)) 62%
    ) 50%/0 75% no-repeat;
    
    transition: background-size 0.4s ease;
  }


  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent 
    stroke-current stroke-2 opacity-90 group-hover:fill-transparent 
    sm:scale-110;
  }
  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-skin-base 
    prose-h3:italic prose-p:!text-skin-base 
    prose-a:!text-skin-base prose-a:!fancy-underline prose-a:fancy-underline
    hover:prose-a:text-skin-accent prose-blockquote:!border-l-skin-accent
    prose-blockquote:border-opacity-50 prose-blockquote:opacity-80
    prose-figcaption:!text-skin-base prose-figcaption:opacity-70
    prose-strong:!text-skin-base
    prose-blockquote:before:content-none prose-blockquote:after:content-none
    prose-code:rounded prose-code:bg-skin-card 
    prose-code:p-1 
    prose-code:before:!content-none prose-code:after:!content-none
    prose-code:text-xs
    prose-ol:!text-skin-base 
    prose-ul:overflow-x-clip prose-ul:!text-skin-base prose-li:marker:!text-skin-accent
    prose-table:text-skin-base prose-th:border
    prose-th:border-skin-line prose-td:border 
    prose-td:border-skin-line prose-img:!my-2 
    prose-img:mx-auto prose-img:border-2 
    prose-img:border-skin-line prose-hr:!border-skin-line;
  }
  .prose a {
    @apply break-words hover:!text-skin-accent;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none text-skin-base;
  }
  .prose summary {
    @apply focus-outline;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }

  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }

  blockquote:before, blockquote:after, q:before, q:after {
    content: none;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
}
