---
// src/components/MapIllustrationWrapper.astro
import MapIllustration from './MapIllustration';

const { title, coordinates, mapboxToken } = Astro.props;

// Add console log to verify props
console.log('MapIllustrationWrapper props:', {
  title,
  coordinates,
  mapboxToken: mapboxToken ? '[PRESENT]' : '[MISSING]'
});
---


<div class="map-container" data-debug="wrapper-mounted">
<MapIllustration client:only="react" title={title} coordinates={coordinates} mapboxToken={mapboxToken} />

</div>

<style>
  .map-container {
	position: relative;
	width: 100%;
	height: 200px;
	max-width: 900px;
	margin: 30px auto;
	overflow:visible;
  }
#image-overlay,
.image-overlay-line,
.image-overlay-text {
  opacity: 0;
  transition: opacity 0.3s ease;
}

img:hover + #image-overlay,
img:hover ~ .image-overlay-line,
img:hover ~ .image-overlay-text {
  opacity: 1;
}

</style>